<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Design-board</title>
</head>
<body>
    <nav>
        <a href="{% url 'home'%}">Logo</a>
        {%if user.is_authenticated %}
            <p>{{user}}</p>
            <a href="{% url 'account' %}">Личный кабинет</a>
            <a href="{% url 'logout'%}">Выход</a>
        {% else %}
            <a href="{% url 'login'%}">Вход</a>
            <a href="{% url 'registration'%}">Регистрация</a>
        {% endif %}
    </nav>

{% block content %}
{% endblock %}
</body>
</html>